<!doctype html>
<html lang="en">
    <head>
        
        <title>Shanty </title>
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/disenio.css') }}">

    </head>

    <body>

    <nav id="cabecera" class="navbar navbar-expand navbar-dark">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/">Inicio</a>
            <a class="nav-item nav-link" href="/fotos">Fotos</a>
            <a class="nav-item nav-link" href="/nosotros">¿Quién es Shanty?</a>
            <a class="nav-item nav-link" href="/producto">Producto</a>
            <a class="nav-item nav-link" href="/contacto">Contacto</a>

            <!-- Separador vertical -->
            <span class="icon-separator"></span>

            <!-- Íconos sociales -->
            <a class="nav-item nav-link" href="https://www.instagram.com/_.polux._" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a class="nav-item nav-link" href="https://wa.me/543416652461" target="_blank">
                <i class="fab fa-whatsapp fa-lg"></i>
            </a>

        </div>

        <div class="nav navbar-nav ms-auto">
            <a class="nav-item nav-link color_login_cab" href="/admin/login">
                <i class="bi bi-person-circle"></i> .
            </a>    
        </div>
    </nav>
