{% include 'sitio/cabecera.html' %}
<body class="body-nosotros">
    <div class="container_1">
  
      <!-- Primer bloque -->
      <div class="row bloque align-items-center justify-content-center">
        <div class="col-md-5 text-center">
          <img src="https://images.pexels.com/photos/17825594/pexels-photo-17825594/free-photo-of-blanco-y-negro-ciudad-carretera-paisaje.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="Imagen 1">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center text-center text-md-start mt-4 mt-md-0">
          <h2>Quiénes Somos</h2>
          <p>
            Somos un equipo apasionado por la fotografía que busca capturar momentos únicos y especiales. 
            Nuestra misión es ofrecer imágenes de alta calidad que cuenten historias inolvidables.
          </p>
        </div>
      </div>
  
      <!-- Segundo bloque -->
      <div class="row bloque align-items-center justify-content-center flex-md-row-reverse">
        <div class="col-md-5 text-center">
          <img src="https://i.pinimg.com/736x/0c/7c/5e/0c7c5e5b4c8d3399351fe2b2451d6b27.jpg" class="img-fluid" alt="Imagen 2">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center text-center text-md-start mt-4 mt-md-0">
          <h2>Nuestra Filosofía</h2>
          <p>
            Creemos que cada imagen debe transmitir emoción y autenticidad. 
            Trabajamos de la mano con nuestros clientes para entender su visión y convertirla en realidad.
          </p>
        </div>
      </div>
  
    </div>
  </body>

{% include 'sitio/pie.html' %}