{% include 'sitio/cabecera.html' %}

<body>

  <div class="contenedor">
    <div class="caja">
      <img src="https://i.pinimg.com/736x/91/72/7f/91727f724747edba320be760c4a29f8d.jpg" alt="Pack Retratos">
      <h2>Pack Retratos</h2>
      <p>10 imágenes sin editar</p>
      <p class="precio">$10000</p>
      <p>10 imágenes editadas</p>
      <p class="precio">$20000</p>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/contacto'">Más información</button>

    </div>

    <div class="caja">
      <img src="https://i.pinimg.com/736x/00/b2/7c/00b27c01f39a6b7d97a4af07d784b070.jpg" alt="Pack Fiestas">
      <h2>Pack Fiestas</h2>
      <p>10 imágenes sin editar</p>
      <p class="precio">$20000</p>
      <p>10 imágenes editadas</p>
      <p class="precio">$30000</p>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/contacto'">Más información</button>

    </div>

    <div class="caja">
      <img src="https://i.pinimg.com/736x/0f/25/6b/0f256bb92bc485ccdd6d8999b2801c2f.jpg" alt="Pack Naturaleza">
      <h2>Pack Naturaleza</h2>
      <p>10 imágenes sin editar</p>
      <p class="precio">$10000</p>
      <p>10 imágenes editadas</p>
      <p class="precio">$20000</p>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/contacto'">Más información</button>



    </div>
  </div>
  
</body>
</html>
{% include 'sitio/pie.html' %}