/* Estilos generales */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.04);    /* Evita el scroll */
}



/* Carrusel */
#carouselExampleSlidesOnly {
    position: fixed; /* Fija el carrusel en la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el carrusel detrás del contenido */
}

.carousel, .carousel-inner, .carousel-item {
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.carousel-item img {
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    width: 100%;
    height: 100%;
}

#div_central{
    padding: 8%;
}


/* Contenido principal */
#FOTITO {
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Ajusta la posición vertical sin margen negativo */
    text-align: center; /* Centra el contenido */
}


#footer_index{
    
    background-color: rgba(53, 51, 51, 0.79); /* Fondo semi-transparente */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    width: 100%;
    z-index: 20; /* Asegura que el footer esté por encima del carrusel */
    
    
}
footer {
    background-color: rgba(53, 51, 51, 0.79); /* Fondo semi-transparente */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Cambia de fixed a relative para que se coloque abajo del contenido */
    bottom: 0px;
    width: 100%;
    z-index: 20; /* Asegura que el footer esté por encima del contenido */
    margin-top: 30px; /* Añade un margen para evitar que se pegue al contenido anterior */
}

/* Estilos para formularios */
.form-group {
    margin-bottom: 20px; /* Espaciado entre grupos de formulario */
}

select.form-control, .btn {
    padding: 8px 12px;
    font-size: 14px;
}
 button[type="submit"].btn-secondary {
    cursor: pointer;
}


button[type="submit"].btn-secondary:hover {
    background-color: #ffffff; /* Cambia el color al pasar el mouse */
} 


#ver_portafolio{
    color: white;
    border-color: #ffffff;
}

#ver_portafolio:hover{
    background-color: #ffffff;
    color: rgb(147, 144, 144);
    border-color: rgb(229, 224, 241);
}

#cabecera{
    border-color: #525050ba;
    background-color: rgba(70, 68, 68, 0.8);
    position: fixed; /* Fija la cabecera en la parte superior */
    top: 0; /* Se queda en la parte superior de la página */
    left: 0;
    width: 100%;
    z-index: 1000;
}
.color_login_icon{
    color: #39ace7;

}
#lala:hover{
    color: rgb(255 255 255 / 99%);
    
}

#nosotros {
    width: 70%;
}


.img_nosotros {
    max-width: 100%; /* Evita que la imagen sobrepase el contenedor */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: auto; /* Centra horizontalmente */
}

#filtro{
    margin: 60px auto;
}

/* Estilo personalizado para el grid */
.fotos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* 200px es el ancho mínimo de cada columna */
    gap:  15px; /* Espaciado entre las tarjetas */
}

.card-img-top {
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el área del contenedor */
    height: 500px; /* Tamaño fijo para las imágenes */
}

.contenedor_label_filtro {
    display: flex;
    justify-content: right; 
    align-items: center; 
    height: 100%;
  }
  
  .etiqueta {
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
  }

.padding_galeria {
    padding-bottom: 70px;
}

.container_nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* login */


/* BASIC */

  
.body_login {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  .login_a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  

  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  

  
  
  /* FORM TYPOGRAPHY*/
  
  .login_button  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .login_button:hover  {
    background-color: #39ace7;
  }
  
  .login_button:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
/* Estilos solo para inputs con la clase .login_input */
.login_input {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.login_input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

/* Placeholder */
.login_input::placeholder {
    color: #cccccc;
}
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  