<!doctype html>
<html lang="en">
    <head>
        <title>Shanty</title>
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
            crossorigin="anonymous"
        />s
        <link rel="stylesheet" href="{{ url_for('static', filename='css/disenio.css') }}">
    </head>

    <body>
        <nav id="cabecera" class="navbar navbar-expand navbar-dark ">
            <div class="nav navbar-nav">
                
                <a class="nav-item nav-link" href="/admin/">Inicio</a>
                <a class="nav-item nav-link" href="fotos">Fotos</a>
                
                <a class="nav-item nav-link" href="/">Sitio web</a>


                


            </div>
            <div  class="nav navbar-nav ms-auto">
                <a class="nav-item nav-link " href="cerrar">Cerrar sesión</a>

            </div>
        </nav>
        