<!-- templates/admin/interacciones.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Interacciones</title>
</head>
<body>
    <h1>Interacciones de Administradores</h1>
    <table border="1">
        <tr>
            <th>ID Foto</th>
            <th>Nombre Fotografía</th>
            <th>Imagen</th>
            <th>Categoría</th>
            <th>Fecha Subida</th>
            <th>Administrador</th>
        </tr>
        {% for interaccion in interacciones %}
        <tr>
            <td>{{ interaccion[0] }}</td>
            <td>{{ interaccion[1] }}</td>
            <td>{{ interaccion[2] }}</td>
            <td>{{ interaccion[3] }}</td>
            <td>{{ interaccion[4] }}</td>
            <td>{{ interaccion[6] }}</td>  <!-- Nombre del administrador -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>